/*-----------I really tried my best to make this work, but I'm really not the greatest with breakpoints...I want to practice more!---------*/
/*------------I think the accessibility I added is substiantial enough for a beginning, if I'm not jinxing myself right now...-------------*/



/*----------Google Fonts import----------*/
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@500;800&display=swap');
/*--font-family: 'Public Sans', sans-serif;--*/
/*-------------CSS Reset Starts-------------*/

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-------------CSS Reset Ends-------------*/

/*-------Storing Colors in variables------*/
:root {
	--red: #a64037;
	--yellow: #bf9004;
	--green: #96a61f;
	--blue: #1f4373;
	--brown: #73532d;
	--black: #3c3c3c;
	--white: #ffffff;
	--light-grey: #ebebeb;
}

/* ------------------- GLOBAL STYLES  ------------------- */
.skip-link {
	background:#000;
	color:#fff;
	left:0;
	padding:8px;
	position:absolute;
	top:-40px;
	z-index:100;
}

.skip-link:focus {
	top:0;
}

header, footer {
	width:100%;
}

header {
	align-items:center;
	background-color:var(--white)
}

h1 {
	color:var(--black);
	font-family:'Public Sans',sans-serif;
	font-size:1em;
	font-weight:700;
	margin:20%;
}

h2,h3,p,dt,dd,p,label,address,small {
	color:var(--black);
	font-family:'Public Sans',sans-serif;
	line-height:1.5em;
}

nav ul {
	display:grid;
	grid-template-columns:repeat(5,1fr);
}

nav li {
	font-size:1em;
	padding:18px;
	white-space:nowrap;
}

nav a {
	color:var(--black);
	padding:5%;
	stroke:var(--black);
	text-decoration:none;
}

nav {
	grid-area: nav;
}

.menu {
	height:0;
	visibility:hidden;
}

.cart {
	grid-area: cart;
}

.menu, .cart {
	fill:none;
	height:auto;
	padding:1% 2%;
	stroke:var(--black);
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-width:2;
	width:15%;
}

section {
	padding:5%;
}
#weekly-ad h2,#weekly-ad p {
	color:var(--white);
	padding:2% 5%;
	text-shadow:5px 5px 10px var(--black);
}


footer {
	background-color:var(--brown);
	display:grid;
	grid-gap:5%;
	grid-template-areas:"h2 socmed" "address socmed" "small socmed";
	height:auto;
	padding:3rem;
	text-align:left;
}


h3 {
	padding:10%;
}

a {
	color:var(--black);
	font-family:'Public Sans',sans-serif;
	line-height:1.5em;
	text-decoration:none;
}


.sr-only {
	height:1px;
	left:-10000px;
	overflow:hidden;
	position:absolute;
	top:auto;
	width:1px;
}

h2 {
	font-size:2em;
	font-weight:800;
	text-align: center;
}

p {
	font-size:1.5em;
	margin:0 auto;
	text-align:left;
	width:60%;
}

small {
	font-size:.75em;
	font-style:italic;
}

main img {
	display:block;
	width:100%;
}

footer a,footer a:visited {
	color:var(--green);
	stroke:var(--green);
}

.active-page {
	border-bottom:solid 2px var(--black);
}

#weekly-ad {
	background-image:url(./images/hero-800w.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}

#coupons svg {
	stroke:var(--black);
}

#shop img {
	border-radius:50%;
	width:10em;
}

#shop figure a {
	background-color:var(--blue);
	color:var(--white);
	padding:5% 30%;
}

footer svg {
	height:15%;
	stroke:var(--black);
	width:15%;
}

footer h2 {
	grid-area:h2;
	text-align:left;
}

.view-more-btn {
	background-color:var(--blue);
	padding:15px 70px;
}

a.view-more-btn {
	color:var(--white);
	display:block;
	margin:0 auto;
	text-align:center;
	width:30%;
}

.shop-grid-container {
	display:grid;
	justify-items:center;
	padding:50px 0px;
	text-align:center;
}

.shop-grid-container {
	grid-template-columns: repeat(3,1fr);
}

#coupons {
	background-color:var(--brown);
	color:#fff;
}

#coupons dt{
	font-size:1.3em;
}

.coupon-details h2 {
	grid-area:h2;
	text-align: left;
	font-size: 1em;
}

#coupons dt {
	grid-area:expire;
	text-align:right;
}

.coupon-details dd {
	grid-area:desc;
	padding:10px;
}

.coupon-details a {
	grid-area: btn;
}

#coupons p,#coupons h2,#coupons dd,#coupons dt,footer p,footer h2,footer address,footer small {
	color:var(--white);
}

.coupon-details {
	display:grid;
	grid-template-areas:"h2 expire" "desc desc" "btn btn";
}

.coupons-grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	}

picture img {
	height:auto;
	width:50%;
}


picture {
	align-items:center;
	background-color:var(--light-grey);
	border:solid 2px var(--black);
	display:flex;
	justify-content:center;
}

.saveMoney {
	background-color:var(--green);
	font-size:1.5em;
	font-weight:800;
	margin:0 auto;
	padding:0 1%;
	position:relative;
	right: 36.3%;
    top: 13%;
    width: 3.5em;
	}

.button {
	align-items:center;
	background-color:var(--white);
	border-radius:10px;
	color:var(--green);
	display:flex;
	font-family:'Public Sans',sans-serif;
	font-size:1em;
	font-weight:800;
	height:40px;
	justify-content:center;
	width:30%;
}

.button img {
	height:auto;
	width:12%;
}

form {
	margin:0 auto;
	text-align:center;
	width:60%;
}

label,input {
	display:flex;
	flex-direction:row;
	margin:1%;
}

input {
	border:solid 2px #000;
	padding:2% 0%;
}

.form-input {
	display:inline-block;
	padding:0 1%;
}

#form-grid-container {
	padding-top:2%;
}

#submit {
	background-color:var(--blue);
	border:none;
	color:var(--white);
	font-family:'Public Sans';
	margin:0 auto;
	padding:5px 50px;
	position:relative;
}



.socmed-icons img {
	background-color:var(--white);
	border:solid 2px var(--black);
	border-radius:50%;
	height:auto;
	margin:1%;
	padding:1%;
	width:3%;
}

footer address {
	grid-area:address;
}

footer small {
	grid-area:small;
}

.socmed-icons {
	grid-area:socmed;
}

/*---------------hovers and focus-------------*/
nav a:hover,header svg:hover,footer img:hover {
	color:var(--yellow);
	stroke:var(--yellow);
}

.view-more-btn:hover,#shop figure a:hover,.button:hover,#submit:hover, footer img:hover {
	background-color:var(--yellow);
	color: var(--black);
	stroke: var(--black);
}

h1 a:focus,#submit:focus,footer a:focus,nav a:focus,.menu:focus,.cart:focus,.view-more-btn:focus,a.view-more-btn:focus,.button:focus,#shop figure a:focus {
	background-color:var(--red);
	border:solid 2px var(--red);
	color:var(--white);
	font-weight:900;
	outline:dashed 4px var(--green);
	stroke:var(--white);
}

nav a:hover,.active-page:hover {
	border-bottom:solid 2px var(--yellow);
}

/*--------------MEDIA QUERIES------------------------*/



@media screen and (max-width:1024px) {
	header {
		display: grid;
		grid-template-areas: "h1 nav cart";
		grid-template-columns: 2fr 5fr 1fr;
	}
}


@media screen and (min-width:1024px) {
header {
	display: grid;
	grid-template-areas: "h1 nav cart";
	grid-template-columns: 2fr 5fr 1fr;
}


}

@media screen and (max-width:768px) {
	header {
		display: grid;
		grid-template-areas: "h1 cart menu";
		grid-template-columns: 3fr .2fr .3fr;
		height:75px;
	}

	h1 {
		margin: 20px;
		grid-area: h1;
	}

	nav {
		visibility: hidden;
		height: 0px;
		width: 0px;
	}
	.menu {
		visibility: visible;
		grid-area: menu;
	}

	.menu, .cart {
	    width: 1.5em;

	}

	#weekly-ad h2, #weekly-ad p {
		line-height: 1em;
		text-align: center;
		position: relative;
		top: 44%;
	}

	#weekly-ad {
		height: 23em;
	}

	#weekly-ad p {
		font-size: 1em;
	}

	#weekly-ad a {
		position: relative;
		top: 50%;
	}

	.button {
		width: 50%;
	}

	#coupons dd {
		font-size: 1em;
		line-height: 1em;
		text-align: right;
	}


	.coupon-details {
	grid-template-rows: 60px 20px 40px;
	}

	#submit {
		margin: 0 auto;
	}
}

@media screen and (max-width:320px) {
	header {
		display: grid;
		grid-template-areas: 
		"h1 cart menu";
		grid-template-columns: 3fr .3fr .4fr;
		height:75px;
	}

	h1 {
		margin: 20px;
		grid-area: h1;
	}

	nav {
		visibility: hidden;
		height: 0px;
		width: 0px;
	}
	.menu {
		visibility: visible;
		grid-area: menu;
	}

	.menu, .cart {
	    width: 1.5em;
	}

	p, h1 {
		text-align: left;
	}
	p {
		width: 100%;
		font-size: 1em;
	}
	#weekly-ad {
		background-position-y:center;
	    background-position-x: -16em;
    	height: 36em;
	}
	#weekly-ad h2, #weekly-ad p {
		padding: 2% 0%;
		position: relative;
		top: 44%;
		text-align: left;
	}

	#weekly-ad a {
		position: relative;
		top: 48%;
	}

	a.view-more-btn {
		width: 50%;
	}

	.view-more-btn{
		padding: 14px 70px;
	}

	.shop-grid-container {
		grid-template-columns: repeat(2,1fr);
	}

	#shop img {
		width: 6em;
	}

	#shop figure a {
		padding: 5%;
	}

	.coupons-grid-container {
		grid-template-columns: 1fr;
		padding: 0px 0px 100px 0px;
	}

	#coupons h2 {
		font-size: 1.5em;
		line-height: 1.2em;
	}

	#coupons dt {
		font-size: 1em;
	}
	#coupons dd {
		font-size: 1em;

	}

	.saveMoney {
		width: 3.5em;
		right: 4.1em;
		top: 2em;
	}

	#coupon-club{
		height: 19em;
	}
	#coupon-club h2 {
		font-size: 1.5em;
		padding-bottom: 1em;
	}

	input[type="email" i] {
		width: 100%;
	}

	#submit {
		left: 0em;
		top: 3em;
		padding: 5px 57px;
	}

	footer {
		padding: 3em 0em 5em 1em;
		grid-template-columns: 1fr;
		grid-template-areas: 
		"h2"
		"address"
		"small"
		"socmed";
	}

	footer h2 {
		font-size: 1.5em;
	}
	.socmed-icons{
		padding-top: 20px;
		margin: 0 auto;
		width: 200px;
	}

	.socmed-icons img {
		width: 1.5em;
		margin: 0 auto;
	}
}
