/*----------Google Fonts import----------*/
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@500;800&display=swap');
/*--font-family: 'Public Sans', sans-serif;--*/
/*-------------CSS Reset Starts-------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-------------CSS Reset Ends-------------*/

/*-------Storing Colors in variables------*/
:root {
    --red: #a64037;
    --yellow: #bf9004;
    --green: #96a61f;
    --blue: #1f4373;
    --brown: #73532d;
    --black: #3c3c3c;
    --white: #ffffff;
    --light-grey: #ebebeb;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------------------- GLOBAL STYLES  ------------------- */
/*--------------compress css-------------*/
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

header, footer {
    width: 100%;
}

header {
    background-color: var(--white);
    display:grid;
    align-items: center;
    grid-template-columns:2fr 5fr 1fr 1fr; 
}

footer {
    height: auto;
    text-align: left;
    padding: 3rem;
    background-color: var(--brown);
  display: grid;
  grid-template-areas: 
  "h2 socmed"
  "address socmed"
  "small socmed";
  grid-gap: 5%;
}

nav ul {
  display: grid;
  grid-template-columns:repeat(5, 1fr);
}

nav a{
  color: var(--black);
  stroke: var(--black);
  padding: 5%;
  text-decoration:none;
}
nav a:hover, header svg:hover, footer img:hover {
  stroke: var(--yellow);
  color: var(--yellow);
}

nav a:hover {
  border-bottom: solid 2px var(--yellow);
}

.view-more-btn:hover, #shop figure a:hover, .button:hover, #submit:hover {
  background-color: var(--yellow);
  color: var(--black);
}

.active-page:hover{
  border-bottom: solid 2px var(--yellow);
}

section {
  padding: 5%;
}

h1 {
  margin: 20%;
  color: var(--black);
  font-family: 'Public Sans', sans-serif;
  font-size: 1em;
  font-weight: 700;
}
h2, h3, p, dt, dd, p, label, address, small {
    color: var(--black);
    font-family: 'Public Sans', sans-serif;
    line-height: 1.5em;
}

h3 {
  padding: 10%;
}

a{
color: var(--black);
font-family: 'Public Sans', sans-serif;
line-height: 1.5em;
text-decoration: none
}

h2, nav li {
  font-family: 'Public Sans', sans-serif;
  font-size: 3em;
}

body h2 {
  text-align: center;
}

#weekly-ad h2, #weekly-ad p {
  color: var(--white);
  text-shadow: 5px 5px 10px var(--black);
  padding: 2% 5%;
}


nav li {
  font-size: 1em;
  padding: 18px;
  white-space: nowrap;
}

.sr-only{
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}


h2 {
  font-size: 2em;  
  font-weight: 800;
}

p {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
}

small {
  font-size:.75em;
  font-style: italic;
}

main img {
	display:block;
	width:100%;
  }

  footer a, footer a:visited {
	color:var(--green);
	stroke:var(--green);
  }


	.active-page{
		border-bottom: solid 2px var(--black);
	}



#weekly-ad {
  background-image: url(./images/hero-800w.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -15em;
  height: 60%;
  text-align: center;
}

#coupons svg {
  stroke: var(--black);
}

#shop img {
  width: 10em;
  border-radius: 50%;
}

#shop figure a {
background-color:var(--blue);
color: var(--white);
padding: 5% 30%;
}

footer svg {
  stroke: var(--black);
  width: 15%;
  height: 15%;
}

footer h2 {
  text-align: left; 
}

.view-more-btn{
  background-color: var(--blue);
  padding: 15px 70px;
}



a.view-more-btn {
  color: var(--white);
  text-align: center;
  display: block;
  width: 30%;
  margin: 0 auto;
}


.shop-grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  padding: 50px 0px;
  justify-items: center;
}

#coupons {
background-color: var(--brown);
color:white;
}

#coupons dt, #coupons dd {
  font-size: 1.3em;
}

#coupons h2 {
  grid-area: h2;
}

#coupons dt {
  grid-area: expire;
  text-align: right;
}

.coupon-details dd {
  grid-area: desc;
  padding: 10px;
}

#coupons p, #coupons h2, #coupons dd, #coupons dt, footer p, footer h2, footer address, footer small{
  color:var(--white);
  }

.coupon-details {
display: grid;
grid-template-areas: 
"h2 expire"
"desc desc";
}

picture img {
  width: 50%;
  height: auto;
}

.coupons-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2%;
  padding: 50px 0px;
  justify-items: center;
}

.coupons-grid-container h2 {
  text-align: left;
  color: var(--white);
}




picture {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px var(--black);
    background-color: var(--light-grey);
}

.saveMoney {
  font-weight: 800;
  font-size: 1.5em;
  background-color: var(--green);
  padding: 0% 1%;
  width: 15%;
  position: relative;
  top: 9%;
  right: 41.2%;
  margin: 0 auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-family: 'Public Sans', sans-serif;
  font-size: 1em;
  font-weight: 800;
  background-color: var(--white);
  color:  var(--green);
  width: 30%;
  height: 10%;
}



.button img{
  width: 12%;
  height: auto;
}

form {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

label, input{
  display: flex;
  flex-direction: row;
  margin: 1% 1% 1% 1%;
}

input {
  padding: 2% 0%;
  border: solid 2px black;
}


.form-input {
  display: inline-block;
  padding: 0% 1%;
}

#form-grid-container {
  padding-top: 2%;
}

#submit {
  margin: 0 auto;
  position: relative;
  left: 24%;
  background-color: var(--blue);
  color: var(--white);
  padding: 5px 50px;
  font-family: 'Public Sans';
  border: none;
}

.menu {
  visibility:hidden;
  height: 0;
}

.menu, .cart {
  stroke: var(--black);
  stroke-width: 2;
   fill: none;
  stroke-linecap: round;
   stroke-linejoin: round;
   width: 15%;
   height: auto;
   padding: 1% 2%;
}


h1 a:focus, #submit:focus, footer a:focus, nav a:focus, .menu:focus, .cart:focus,
 .view-more-btn:focus, a.view-more-btn:focus, .button:focus, #shop figure a:focus{
  background-color: var(--red);
  border: solid 2px var(--red);
  stroke: var(--white);
  color: var(--white);
  font-weight: 900;
  outline: dashed 4px var(--green);
}



.socmed-icons img{
  border: solid 2px var(--black);
  border-radius: 50%;
  background-color: var(--white);
  width: 3%;
  height: auto;
  padding: 1%;
  margin: 1%;
}

footer h2 {
  grid-area: h2;
}

footer address{
  grid-area: address;
}

footer small {
  grid-area: small;
}

.socmed-icons {
  grid-area: socmed;
}





  /*--------------MEDIA QUERIES------------------------*/

  @media screen and (max-width:320px) {
    header {
      grid-template-columns: 8fr 1fr 0fr 1fr;
      height:75px;
    }

    h1 {
      margin: 20px;
    }

    nav {
      visibility: hidden;
      height: 0px;
      width: 0px;
    }
    #menu {
      visibility: visible;
      position:relative;
      bottom: 13px;
    }

    header img {
      height: 20px;
      width: 20px;
    }

    #weekly-ad {
      background-image: url(./images/hero-800w.jpg);
      background-size: cover;
      background-position-y: 0em;
      background-position-x: -24em;
      height: 503px;    
  }

  #weekly-ad h2 {
    text-align: left;
    position: relative;
    top: 196px;
}

#weekly-ad p {
  text-align: left;
  position: relative;
  top: 198px;
}

#weekly-ad a {
  position: relative;
  top: 198px;
  width: auto;
}
  }
